/* ---- reset ---- */
footer {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
  background-color: #161E30;
  box-shadow: -1px -8px 5px 0px rgba(0,0,0,0.64);
  -webkit-box-shadow: -1px -8px 5px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: -1px -8px 5px 0px rgba(0,0,0,0.64);
  margin-top: 7%;
}

/* ---- stats.js ---- */
.count-particles {
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;

}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}


#footer .content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#footer .content .icons {

  margin: 60px auto;
}
#footer .content .icons a {
  margin-right: 20px;
}
#footer .content .icons a i {
  font-size: 50px;
}
#footer .content .text .tmdb-logo {
  width: 80px;
  margin-right: 20px;
}
