*{
    margin: unset;
}

body{
    background: #141e30;
}

/* col-2text section */
.col2-text-image {
    height: 600px;
    margin: 100px 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col2-text-image .text-content {
    vertical-align: middle;
    text-align: center;
}
.col2-text-image .text-content p{
    font-size: 18px;
}
.col2-text-image .text-content .text .markup{
    font-weight: 400;
    transition: .5s;

}
.col2-text-image .text-content .text:hover .markup{
    color: #007CC7;
    font-weight: 500;
}

.col2-text-image .text-content .blue{
    color: #007CC7;
}


.image-content {
    text-align: center;
}

.image-content .poster {
    aspect-ratio: 2/3 !important;
    max-height: 600px;
    width: 90%;
    flex-grow: 1;
    align-items: center;
    object-fit: cover;
    object-position: bottom;

}

/* col3 icon text section */
.col3-icon-text{
    margin-top: 250px;
}

.col3-icon-text .icon-content {
    text-align: center;
    margin-bottom: 50px;
}
.col3-icon-text .icon-content img {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(111deg) brightness(104%) contrast(102%);
    height: 240px;
}

.col3-icon-text .text-content{
    text-align: center;
}

.col3-icon-text .icon-text-col:hover {
    filter: invert(31%) sepia(88%) saturate(3102%) hue-rotate(184deg) brightness(93%) contrast(101%);
    color: rgb(0, 125, 201);
}

.questions-container {
    width: 100%;
}

.question-container {
    border: solid #007CC7 2px;
    box-sizing: border-box;
    border-radius: 24px;
    margin-top: 16px;
    text-align: left;
    width: 100%;
}

.question {
    background: 0 0;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 24px;
    text-align: inherit;
    width: 100%;
}

.question-container .question h3 .plus-svg {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(111deg) brightness(104%) contrast(102%);
    height: 40px;
    aspect-ratio: 1;
    float: right;
}

.question-container .question .answer-container {
    display: none;
}

.question-container.open .question .answer-container {
    display: block;
}

.open {
    display: block !important;
}
